<header>
        <nav>
            <a href="/">Home</a>
            <a href="/contact">Contact Me</a>
            <a href="/admin">Admin Page</a>
            <a href="https://github.com/Jake-G123/Portfolio-Project">My GitHub Repository</a>
            <a href="https://www.linkedin.com/in/jakegerken/">My LinkedIn</a>
        </nav>
</header>