<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Smiley.png">
    <link rel="stylesheet" href="styles/portfolio-styles.css">
    <script src="js/portfolio.js" defer></script>
    <title>Request Confirmed!</title>
</head>
<body>
    <main>
        <h1>Request Confirmed!</h1>
        <a href="/" id="to-home-button" >
            <button type="button">
                Make another Request
            </button>
        </a>
        <br>

        <a href="https://github.com/Jake-G123/Portfolio-Project">My GitHub Repository</a>
    </main>
</body>
</html>
