<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Smiley.png">
    <link rel="stylesheet" href="styles/portfolio-styles.css">
    <script src="js/portfolio.js" defer></script>
    <title>Guest Book</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main>
        <h1>Contact Form</h1>
        <form action="submit-form" method="post" id="form">
            <div class="container">
                <div class="fname">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="fname">
                    <span id="err-fname" class="error">First name cannot be empty!</span>
                </div>

                <div class="lname">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lname">
                    <span id="err-lname" class="error">Last name cannot be empty!</span>
                </div>

                <div class="jobTitle">
                    <label for="jobTitle">Job Title</label>
                    <input type="text" id="jobTitle" name="jobTitle">
                </div>

                <div class="company">
                    <label for="company">Company</label>
                    <input type="text" id="company" name="company">
                </div>

                <div class="linkedIn">
                    <label for="linkedIn">LinkedIn URL</label>
                    <input type="text" id="linkedIn" name="linkedIn">
                    <span id="err-linkedIn" class="error">Invalid URL format!</span>
                </div>

                <div class="email">
                    <label for="email">Email Address</label>
                    <input type="text" id="email" name="email">
                    <span id="err-email-empty" class="error">Email cannot be empty!</span>
                    <span id="err-emailFormat" class="error">Invalid Email format!</span>
                </div>

                <div class="meet">
                    <label for="meet">How did we meet?</label>
                    <select id="meet" name="meet">
                        <option value="none">Please select</option>
                        <option value="other-dropdown">Other</option>
                    </select>
                    <span id="err-meet" class="error">Please select an option</span>
                </div>

                <div class="other" id="other-container">
                    <label for="other">Other (please specify)</label>
                    <input type="text" id="other" name="other">
                    <span id="err-other" class="error">Please specify how we met</span>
                </div>

                <div class="message">
                    <label for="message">Message</label>
                    <textarea id="message" name="message"></textarea>
                </div>
            </div>

            <div class="mailingList">
                <input type="checkbox" id="mailingList" name="mailingList">
                <label for="mailingList">Please add me to your mailing list</label>
            </div>

            <div class="format-radio" id="emailFormat-container">
                <label>Choose an email format:</label>
                <label>
                    <input type="radio" name="emailFormat" value="html"> HTML
                </label>
                <label>
                    <input type="radio" name="emailFormat" value="text"> Text
                </label>
                <span id="err-format-radio" class="error">Email format cannot be empty!</span>
            </div>

            <div class="form-submit">
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
</body>
</html>
