<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Smiley.png">
    <link rel="stylesheet" href="styles/portfolio-styles.css">
    <script src="js/portfolio.js" defer></script>
    <title>Homepage</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main>
        <h1>Jacob Gerken</h1>
        <div id="personal-contact">
            <img src="images/Portrait.jpg" alt="Portrait of myself" width="120"> <!--This photo is bad take another-->
            <p>gerken.jacob@student.greenriver.edu</p>
            <p>(206) 397-5958</p>
        </div>
        
        <h2>Summary</h2>
        <p>Software development student seeking internship in web development</p>
        <h2>Education</h2>
        <p><b>Green River College</b> – Auburn, WA
            Bachelor of Applied Science, expected June 2027
            Major: Software Development (Applied Computer Science)
        </p>
        <h2>Relevant Coursework:</h2>
        <ul>
            <li>Object-Oriented Programming</li>
            <li>Data Structures</li>
            <li>Database Fundamentals</li>
        </ul>
        <h2>Skills</h2>
        <ul>
            <li>Languages: Java, SQL, JavaScript</li>
            <li>Web: HTML/CSS</li>
        </ul>
    </main>
</body>
</html>