html {
    min-width: 325px;
}

body {
    background-color: rgb(230, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: white;
    border-radius: .5rem;
    padding:1rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    color:darkslategrey;
}

.container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-areas:
    "fname fname lname lname job-title job-title"
    "company company linkedin-url linkedin-url email email"
    "meet meet meet other other other"
    "message message message message message message";
}
.container > label {
    display: block;
}
label, legend {
    font-weight: bold;
    font-size: 13px;
}
.format-radio, .mailingList {
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.container > div {
    width: 100%;
}
input[type="radio"] {
    accent-color: grey;
    align-items: center;
}

.container input, .container select,
.container textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: .25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
textarea {
    resize: vertical;
    border-color: lightgrey;
    padding-bottom: 25px;
}
.fname {
    grid-area: fname;
}
.lname {
    grid-area: lname;
}
.jobTitle {
    grid-area: job-title;
}
.company {
    grid-area: company;
}
.linkedIn {
    grid-area: linkedin-url;
}
.email {
    grid-area: email;
}
.meet {
    grid-area: meet;
}
.other {
    grid-area: other;
}
.message {
    grid-area: message;
}
fieldset {
    border-style: none;
}
button {
    border: none;
    text-decoration: none;
    background-color: rgb(48, 162, 48);
    color: white;
    padding: .5rem 1rem;
    margin-top: 10px;
    border-radius: .25rem;
    font-size: .75rem;
}
#to-contact-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-decoration: none;
}
.error {
    color: darkred;
    display: none;
}
.format-radio {
    display: none;
}
.other {
    display: none;
}
nav {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
nav > a {
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    color:darkslategrey;
}
nav > a:hover {
    font-weight: bold;
}
#confirmation-info {
    margin-left:5%;
}
#personal-contact {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
}
#personal-contact > p {
    margin: 0.5rem;
    margin-bottom: 0;
}

/* Mobile styles */
@media (max-width: 480px) {
    main {
        margin: 0%;
    }
    .container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
    "fname"
    "lname"
    "job-title"
    "company"
    "linkedin-url" 
    "email"
    "meet" 
    "other"
    "message";
}
}